---
- name: Copy Dockerfile with parameters (port number defines by user) from jinja template
become_user: "{{ DOCKER_USER }}"
become: true
  template :
    src: Dockerfile.j2
    dest: /home/{{ DOCKER_USER }}/Dockerfile

- name: Copy daemon.json from jinja template
  become: true
  template:
    src: daemon.json.j2
    dest: /etc/docker/daemon.json

- name: Restart docker service
  become: true
  systemd:
    state: restarted
    daemon_reload: yes
    name: docker

- name: Login to the Nexus docker repository
  become_user: "{{ DOCKER_USER }}"
  become: true
  docker_login:
    registry: http://{{ NEXUS_SERVER_IP }}:{{ NEXUS_DOCKER_PORT }}
    username: "{{ MAVEN_LOGIN }}"
    password: "{{ MAVEN_PASSWORD }}"
    reauthorize: yes

- name: Build Spring boot project image from repository using build variables and push to Nexus docker registry
  become_user: "{{ DOCKER_USER }}"
  become: true
  docker_image:
    name: "{{ NEXUS_SERVER_IP }}:{{ NEXUS_DOCKER_PORT }}/{{ DOCKER_IMAGE_NAME }}"
    tag: "{{ BUILD_NUMBER }}"
    push: yes
    build:
      path: /home/{{ DOCKER_USER }}/
      nocache: yes
      rm: yes
    source: build

- name: Add tag :latest to the last successfully built image
  become_user: "{{ DOCKER_USER }}"
  become: true
  docker_image:
    name: "{{ NEXUS_SERVER_IP }}:{{ NEXUS_DOCKER_PORT }}/{{ DOCKER_IMAGE_NAME }}:{{ BUILD_NUMBER }}"
    repository: "{{ NEXUS_SERVER_IP }}:{{ NEXUS_DOCKER_PORT }}/{{ DOCKER_IMAGE_NAME }}:latest"
    force_tag: yes
    push: yes
    state: present
