---
- hosts: devtools
  tasks:
    - name: Create .ssh directory for jenkins user
      become_user: jenkins
      become: true
      file:
        path: /var/lib/jenkins/.ssh
        owner: jenkins
        group: jenkins
        mode: '700'
        state: directory

    - name: Generate new ssh key pair
      become_user: jenkins
      become: true
      shell: ssh-keygen -b 2048 -t rsa -f /var/lib/jenkins/.ssh/id_rsa -q -N ""
      args:
        creates: /var/lib/jenkins/.ssh/id_rsa

    - name: Test public key
      become_user: jenkins
      become: true
      shell: ssh-keygen -l -f /var/lib/jenkins/.ssh/id_rsa.pub
      changed_when: false

    - debug:
        msg: "SSH public key already exists: stdout"

    - name: Get public key in variable DEVTOOLS_PUBLIC_KEY
      become_user: jenkins
      become: true
      shell: cat /var/lib/jenkins/.ssh/id_rsa.pub
      register: DEVTOOLS_PUBLIC_KEY
      changed_when: false

    - debug:
        msg: "{{ DEVTOOLS_PUBLIC_KEY.stdout }}"

#- hosts: ['tag_Name_CI', 'tag_Name_QA']
- hosts: deploy_artifact
  roles:
    #install java-1.8.0
    - { role: java8 }
    #install Docker as systemd service
    - { role: docker }
  become: true
  tasks:
    - name: Add devtools public key to {{ inventory_hostname }}:{{ ansible_host }} instance
      authorized_key:
        user: ec2-user
        key: "{{ hostvars['devtools_aws_server'].DEVTOOLS_PUBLIC_KEY.stdout }}"


#hostvars['52.29.122.21']['groups']['tag_Name_DevTools']
#hostvars['52.29.122.21']['ansible_facts'].devtools_public_key.stdout
#- hosts: ['tag_Name_Docker']
- hosts: docker #tag_Name_Docker
  become: true
  roles:
    - { role: docker } #install Docker as systemd service
  tasks:
    - name: add devtools public key to {{ inventory_hostname }}:{{ ansible_host }} instance
      authorized_key:
        user: ec2-user
        key: "{{ hostvars['devtools_aws_server'].DEVTOOLS_PUBLIC_KEY.stdout }}"
